.loader {
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 3s linear infinite;
}

.circle {
    background-color: #E10429;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: grow 1.5s linear infinite;
}

.circle:nth-child(2) {
    background-color: #0D5D73;
}

.circle:nth-child(3) {
    background-color: #C3D332;
}

.circle:nth-child(4) {
    background-color: #12B2D9;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}